
<form [formGroup]="searchTheWebForm" (ngSubmit)="onSubmit(searchTheWebForm)" novalidate class="form-inline">
    <div class="form-group">
      <input [class.is-invalid] = "searchTerm.invalid && searchTerm.touched" placeholder="{{'searchTheWeb' | translate}}"
      type="text" formControlName="searchTerm" role="searchbox" aria-label="Search"/>
      <a routerLink="/idi-result-list/{{searchTerm.value}}" *ngIf="submitted && !spinner" type="button" class="btn btn-primary">Coincidencias <span class="badge badge-light">{{totalFound}}</span></a>
      <i *ngIf="spinner" class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>
    </div>
</form>
