form {
    padding-top: .1rem;
}

.btn-primary {
    color: #ffffff!important;
    background: #a2d3da;
}

input {
    border-top: none;
    border-left: none;
    border-right: none;
    padding: .5rem;

}

input:focus{
    outline: none;
    background-color: #a2d3da;
    color: #ffffff;
}