.category-container {
  display: grid;
  grid-template-areas: "theTitle" "theArticles";
}

.main-category-title {
  grid-area: theTitle;
  /* font-size: 3.42rem;
  font-weight: 200; */
}

.category-articles {
  grid-area: theArticles;
}

/* h2 {
  margin-top: 4rem!important;
  font-weight: 200;
  font-size: 3.43rem;
} */

@media only screen and (max-width: 795px) {
  h2 {
    font-size: 1.5rem !important;
    font-weight: bolder !important;
    background: #eeecec;
    color: #000000;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}