.loading-news {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 1.5rem;
  gap: .9rem;
}

.last-news-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 1.5rem;
    gap: .9rem;
}

.card {
  display: grid;
  grid-template-areas:  'image' 
                        'title'
                        'fecha';
  width: 100%;
  border: none;
  margin-bottom: 2rem;
}

.card-head {
  grid-area: image;
  margin-bottom: .5rem;
}

.card-body {
  grid-area: title;
  min-height: 12rem;
  max-height: 12rem;
  line-height: 1.4285em;
  padding-left: 5px;
} 

.card-title {
  font-weight: 200;
}

.card-date {
  grid-area: fecha;
  font-weight: 800;
}

h4{
  margin-right: .5rem;
}

h6{
  font-weight: 800;
}

.card a:hover {
  opacity: .8;
  color:#a3d4db!important;
  text-decoration: none!important;
  transition: opacity 0.3s linear 2s;
}

@media only screen and (max-width: 795px) {
    .last-news-container {
      grid-template-columns: repeat(1, 1fr);
      gap: 0;
    }

    .card {
      grid-template-areas: 'image' 'title'
                           'fecha';
    }

    .card-body {
      padding: 0;
      margin: 0;
      min-height: 5rem;
      max-height: 5rem;
    }

    .card-body:hover {
      border-left: none;
      padding-bottom: 3rem;
    } 

    .card-date {
      margin-left: 0;
    }

    h4, h6 {
      margin-top: 0;
    }
  }  