.card {
  display: grid;
  grid-template-areas:    'image title'
                          'image texto';
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.card__head {
  grid-area: image;
  max-width: 480px;
}

.card__body {
  grid-area: title;
  padding-left: 2rem;
  line-height: 2.6rem;
  font-size: 1.8rem;
}

.card__footer {
  grid-area: texto;
  padding-left: 2rem;
}

.card__text {
  font-size: 1.8rem;
  line-height: 3.4rem;
}

.card__text p:first-child > span {
  color: #3e8094;
}

.card__body h1 {
  margin: 0;
}

.card__date{
  grid-area: date;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.noticia__tag{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  gap: 3rem;
}

small {
  font-weight: 800;
}

a {
  font-weight: 300;
  background-color: #7e7e7c;
  color: #fff!important;
  padding: .3rem .5rem;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: .3rem;
  padding-bottom: .3rem;
}

.card a:hover {
  opacity: .8;
  color:#a3d4db!important;
  text-decoration: underline none #a3d4db 30%!important;
}

.barra_meta {
  border-bottom: 5px solid #ededed;
  display: block;
  padding: 5px 0 0 0;
  margin: 0 0 1rem 0;
}

h1 {
  margin-bottom: 2rem!important;
}

@media only screen and (max-width: 795px) {
  .detail-news-container img {
      width: 100%;
      height: auto;
  }
  .card {
      grid-template-areas:    'image' 
                              'title'
                              'texto';
  }
  .card__body {
      padding-left: 0;
  }
  .card__head{
      margin-bottom: 2rem;
  }
  .card__head > img {
      width: 100%;
      height: auto;
  }
  .card__footer {
      padding-left: 0;
  }
}

.noticia-tag{
  display: flex;
  justify-content: flex-start;
}

.noticia-tag-item {
  flex: 1;
  margin: 0 .5rem;
}