
<div class="projects-banner" *ngIf="currentLang === 'es-ES'">
  <h2>{{mainCategoryAttributes.data.attributes.note}}</h2> 
</div>

<div class="projects-banner" *ngIf="currentLang === 'ca-ES'">
  <h2>{{mainCategoryAttributes.data.attributes.title}}</h2>
</div>

<div class="detail-news-container" *ngIf="oneContentAttributes">
  
  <div class="card">
    
    <div class='card__head'>
      <img width="1344" height="458.16" src={{oneContentAttributes.images.image_fulltext}} alt="{{oneContentAttributes.title}}" title="{{oneContentAttributes.title}}">
    </div>
      
    <div>
      <h2 class="card__title">{{oneContentAttributes.title}}</h2>
    </div>

    <div class="card__body" [innerHTML]="oneContentAttributes.text.replaceAll( 'images/', 'https://contents.idi.es/images/') | wellFormattedLink">
    </div>

  </div>

</div>

<!-- <small class="barra_meta">{{'Links' | translate}}:</small>
        <ul class="enlaces__relacionados">
            <li><a class="noticia-tag-item" target="_blank" href="{{oneContentAttributes.urls.urla}}">{{oneContentAttributes.urls.urlatext}}</a></li>
            <li><a class="noticia-tag-item" target="_blank" href="{{oneContentAttributes.urls.urlb}}">{{oneContentAttributes.urls.urlbtext}}</a></li>
            <li><a class="noticia-tag-item" target="_blank" href="{{oneContentAttributes.urls.urlc}}">{{oneContentAttributes.urls.urlctext}}</a></li>
        </ul> -->
<small class="barra_meta">{{'ArchivadoEn' | translate}}</small>
<div class="noticia-tag">
  <div *ngFor="let item of oneContentAttributes.tags | keyvalue">
    <a class="noticia-tag-item" routerLink="/idi-result-list/{{item.value}}">{{item.value}}</a>
  </div>
</div>
<hr> 

<div *ngIf="!oneContentAttributes">
  <i class="fa fa-spinner fa-pulse fa-1x fa-fw" style='color: #a2d3da'></i>{{'gettingContentsIDI' | translate}}
</div>


