<div class="iframe-agenda" *ngIf="currentLang ==='ca'">
    <iframe id="idiAgenda-CA" src="https://utils.idi.es/index.php/agenda_ctrl/muestraEnIframe/ca/noHome" height="850px" title="Agenda d'activitats de l'IDI" frameborder="0" loading="lazy" scrolling="yes"></iframe>
</div>

<div class="iframe-agenda" *ngIf="currentLang ==='es'">
    <iframe id="idiAgenda-ES" src='https://utils.idi.es/index.php/agenda_ctrl/muestraEnIframe/es/noHome' height="850px" title='Agenda de actividades del IDI' frameborder="0" loading="lazy" scrolling="yes"></iframe>
</div>
