/* AppComponent's private CSS styles */
header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 'logo search language';
  padding: 0;
  text-align: center;
  margin-bottom: 1rem;
}

footer {
  margin-top: 3rem;
  border-top: 1px solid #c7c6c6;
}

.logoArea {
  grid-area: logo;
  text-align: left;
}

.searchTheWebArea {
  grid-area: search;
  text-align: right;
}

.languageSelectArea {
  grid-area: language;
  margin: auto;
  width: 100%;
  text-align: right;
}

.languageSelectArea > span {
  padding-left: 1rem;
  padding-right: 0;
  }

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
  margin-bottom: 1.5rem;
  border: 1px solid transparent;
}

.offcanvas-body {
  height: 100%;
}

.bg-light {
  background-color: #f8f9fa;
}
.search-the-web{
  font-size: 1rem;
  text-align: center;
  margin-left: 30px;
  margin-top: 4px;
  }
@keyframes swingdown {
  0% {
    opacity: .99999;
    transform: rotateX(90deg);
  }
  30% {			
    transform: rotateX(-20deg) rotateY(5deg);
    animation-timing-function: ease-in-out;
  }
  65% {
    transform: rotateX(20deg) rotateY(-3deg);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: rotateX(0);
    animation-timing-function: ease-in-out;
  }
}

h1 {
	text-align: center;
	margin: 40px 0 40px;
	text-align: center;
	font-size: 30px;
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Cherry Swash', cursive;
}
/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}
/* Style the footer */
footer {
  display: grid;
  grid-template-columns: 1fr 1.25fr 1.5fr 1fr 1fr;
  grid-template-areas:  'logoIDI localizacionIDI newsLetterIDI redesSocialesIDI textosLegalesIDI'
                        'cuadroVacioIzq logoFederIzq logoFeder logoFederdcha cuadroVacioDcha';
  color: #000000;
  margin-bottom: 1.5rem;
}

.logo-idi {
  grid-area: logoIDI;
  text-align: left;
  padding-left: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.localizacion-idi {
  grid-area: localizacionIDI;
  text-align: left;
  padding-left: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.news-letter {
  grid-area: newsLetterIDI;
  padding-top: 2rem;
}

.textos-legales {
  grid-area: textosLegalesIDI;
  text-align: left;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.social-media {
  grid-area: redesSocialesIDI;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  display: grid;
  grid-template-rows: repeat(5, auto);
  text-align: left;
}

.cuadro-vacio-izq {
  grid-area: cuadroVacioIzq;
  text-align: left;
  padding-left: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.logo-feder-izq {
  grid-area: logoFederIzq;
  text-align: left;
  padding-left: 1.5rem;
  padding-top: 2.5rem;
  padding-bottom: 1rem;
}

.logo-feder {
  grid-area: logoFeder;
  text-align: left;
  padding-top: 2rem;
}

.logo-feder-dcha {
  grid-area: logoFederdcha;
  text-align: left;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.cuadro-vacio-dcha {
  grid-area: cuadroVacioDcha;
  text-align: left;
  padding-left: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.social-media a{
  padding-left: .5rem;
  padding-right: .5rem;
  opacity: 1.0;
}
.social-media a:hover {
  opacity: .8;
}
.logoFeder {
  margin-bottom: 1rem;
  width: 56%;
}

@media only screen and (max-width: 795px) {
  header {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: 'logo search''language language';
    }
  .languageSelectArea {
    display: block;
    } 
  footer {
    grid-template-columns: 1fr; 
    grid-template-areas: 'logoIDI logoIDI' 'localizacionIDI localizacionIDI' 'newsLetterIDI newsLetterIDI' 'redesSocialesIDI textosLegalesIDI' 'logoFeder logoFeder';
    font-size: 1.4rem;
    }
    .news-letter {
      padding-left: 1rem;
      padding-right: 1rem;

    }
    .social-media {
      padding-left: 1rem;
    }
}

