<div class="grid-container">
  
  <header>
    <div class="logoArea">
      <a class="nav-link" routerLink=""> 
        <img width="74" height="72.41" alt="logotipo del IDI" title="logotipo del Instituto de Innovación Empresarial de las Islas Baleares" src="../assets/images/logos/logo-idi.svg">
      </a>
    </div>

    <div class="languageSelectArea">
      <span class="form-inline">
        <app-select-language></app-select-language>
      </span>
    </div>
  </header>

  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/idi-who-we-are/367">{{'quienesSomos' | translate}}</a>
          </li>
          <li>
            <a class="nav-link" routerLink="/idi-history-services">{{'directorioIDI' | translate}}</a>
          </li>
<!--           <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{'queOfrecemos' | translate}}
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" [routerLink]="['/']" >{{'queOfrecemosServiciosActivos' | translate}}</a></li>
              <li><a class="dropdown-item" routerLink="/idi-history-services">{{'queOfrecemosHistorico' | translate}}</a></li>
            </ul>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/idi-list-news/9999">{{'noticiasTitle' | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/agenda-events">{{'agendaTitle' | translate}}</a>
          </li>       
          <li class="nav-item">
            <a class="nav-link" routerLink="/ayudas-subvenciones">{{'Ayudas_Subv' | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/idi-transparency/291">{{'Transparencia' | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.caib.es/seucaib/ca/" target="_blank">{{'Sede_Elect' | translate}}</a>
          </li>      
        </ul>
        <app-search-the-web class="searchTheWebArea"></app-search-the-web>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>

  <footer class="grid-item">
    
    <div class="logo-idi">
      <a class="nav-link" routerLink=""> 
        <img width="74" height="72.41" alt="logotipo del IDI" title="logotipo del Instituto de Innovación Empresarial de las Islas Baleares" src="../assets/images/logos/logo-idi.svg">
      </a>
    </div>

    <div class="localizacion-idi">
      <strong>{{'IdiLine_1' | translate}}</strong><br>
      <strong>{{'IdiLine_2' | translate}}</strong><br>
      Plaça de Son Castelló, 1<br>
      07009 - Palma de Mallorca<br>
      Illes Balears<br>
      <a href="tel:971176161">Tel: 971 17 61 61</a>
    </div>

    <div class="news-letter">
      <app-newsletter></app-newsletter>
    </div>

    <div class="social-media">
      <a href="http://www.facebook.com/IDI.Institutinnovacio" id="red_social_facebook" >Facebook</a>
      <a href="https://www.linkedin.com/company/idi-istitut-innovaci-empresarial-illes-balears/?viewAsMember=true" id="red_social_linkedIn" >LinkedIn</a>
      <a href="http://twitter.com/IDIbalears" id="red_social_twitter" class="twitter">Twitter</a>
      <a href="http://www.youtube.com/user/InstitutInnovacio?feature=mhee" id="red_social_youTube" class="youtube">Youtube</a>
      <a href="https://www.instagram.com/idi_balears/" id="red_social_instagram" class="instagram">Instagram</a>
    </div>

    <div class="textos-legales">
      <div><a class="a_footer" routerLink="/accesibilidad/348">{{'Accesibilidad' | translate}}</a></div>
      <div><a class="a_footer" routerLink="/aviso-legal/350">{{'AvisoLegal' | translate}}</a></div>
      <div><a class="a_footer" routerLink="/contacta">{{'Contacta' | translate}}</a></div>      
      <!-- <div><a class="a_footer" routerLink="/idi/283">IDI</a></div> -->
      <div><a class="a_footer" routerLink="/politica-de-cookies/349">{{'PoliticaCookies' | translate}}</a></div>
      <div><a class="a_footer" routerLink="/politica-de-privacidad/351">{{'PoliticaPrivacidad' | translate}}</a></div>      
      <!-- <div><a class="a_footer" routerLink="/programas-idi/171">{{'ProgramasIDI' | translate}}</a></div> -->
    </div>

    <div class='cuadro-vacio-izq'></div>
    
    <div class='logo-feder-izq'>
      <a *ngIf="currentLang ==='ca-ES'" routerLink="/feder-detail/1523">
        <img width="151.84" height="40.08" src="../assets/images/logos/logos-feder-webidi grisos3-04.jpg" width="100%" title="Fons Europeu de desenvolupament regional" alt="Fondo Europeo de desarrollo regional" class="logoFeder"/>
      </a>
      
      <a *ngIf="currentLang ==='es-ES'" routerLink="/feder-detail/1522">
        <img width="151.84" height="40.08" src="../assets/images/logos/logos-feder-webidi grisos3-04.jpg" width="100%" title="Fondo Europeo de desarrollo regional" alt="Fondo Europeo de desarrollo regional" class="logoFeder"/>
      </a>
    </div>

    <div class='logo-feder'>
      <a *ngIf="currentLang ==='ca-ES'" routerLink="/feder-detail/1523">
        <img width="196.33" height="64.72" src="../assets/images/logos/logos-feder-webidi grisos3-02.jpg" width="100%" title="Fons Europeu de desenvolupament regional" alt="Fondo Europeo de desarrollo regional" class="logoFeder"/>
      </a>
      
      <a *ngIf="currentLang ==='es-ES'" routerLink="/feder-detail/1522">
        <img width="196.33" height="64.72" src="../assets/images/logos/logos-feder-webidi grisos3-02.jpg" width="100%" title="Fondo Europeo de desarrollo regional" alt="Fondo Europeo de desarrollo regional" class="logoFeder"/>
      </a>
    </div>

    <div class='logo-feder-dcha'>
      <a *ngIf="currentLang ==='ca-ES'" routerLink="/feder-detail/1523">
        <img width="115.2" height="94.77" src="../assets/images/logos/logos-feder-webidi grisos3-03.jpg" width="100%" title="Fons Europeu de desenvolupament regional" alt="Fondo Europeo de desarrollo regional" class="logoFeder"/>
      </a>
      
      <a *ngIf="currentLang ==='es-ES'" routerLink="/feder-detail/1522">
        <img width="115.2" height="94.77" src="../assets/images/logos/logos-feder-webidi grisos3-03.jpg" width="100%" title="Fondo Europeo de desarrollo regional" alt="Fondo Europeo de desarrollo regional" class="logoFeder"/>
      </a>
    </div>
    <div class='cuadro-vacio-dcha'></div>
  </footer>

<div><app-messages></app-messages></div>