
<div class='article-container' *ngIf="categoria">
  <div  *ngFor="let item of categoria">
   
        <div *ngIf="currentLang === 'es-ES'" class="card">
          <a  [routerLink]="['/idi-level-one', item.data.id, childCategory]">
          <div>
            <img width="100%" height="auto" class="card-head" src="https://contents.idi.es/{{item.data.attributes.params.image}}" alt={{item.data.attributes.note}} title={{item.data.attributes.note}} />
          </div>
          <div class="card-body">
            <h3 class="card-title">{{item.data.attributes.note}}</h3>
          </div>
          </a>
        </div>
      
        <div *ngIf="currentLang === 'ca-ES'" class="card">
          <a  [routerLink]="['/idi-level-one', item.data.id, childCategory]">
            <div>
              <img width="100%" height="auto" class="card-head" src="https://contents.idi.es/{{item.data.attributes.params.image}}" alt={{item.data.attributes.title}} title={{item.data.attributes.title}} />
            </div>
            <div class="card-body">
              <h4 class="card-title">{{item.data.attributes.title}}</h4>
            </div>
          </a>
        </div>

  </div>
</div>

<div *ngIf="!categoria" class="article-container">
  <!-- <i class="fa fa-spinner fa-pulse fa-1x fa-fw" style='color: #a2d3da'></i>{{'gettingNews' | translate}} -->

  <div class="card" aria-hidden="true" id="noticiaUnoPlaceHolder">
    <img src="https://via.placeholder.com/260x145.png?text=...loading service" class="card-img-top" alt="loading image">
    <div class="card-body">
      <h4 class="card-title placeholder-glow">
        <span class="placeholder col-6"></span>
      </h4>
    </div>
  </div> 

  <div class="card" aria-hidden="true" id="noticiaDosPlaceHolder">
     <img src="https://via.placeholder.com/260x145.png?text=...loading service" class="card-img-top" alt="loading image">
    <div class="card-body">
      <h4 class="card-title placeholder-glow">
        <span class="placeholder col-6"></span>
      </h4>
    </div>
  </div>

  <div class="card" aria-hidden="true" id="noticiaTresPlaceHolder">
     <img src="https://via.placeholder.com/260x145.png?text=...loading service" class="card-img-top" alt="loading image">
    <div class="card-body">
      <h4 class="card-title placeholder-glow">
        <span class="placeholder col-6"></span>
      </h4>
    </div>
  </div> 

  <div class="card" aria-hidden="true" id="noticiaCuatroPlaceHolder">
     <img src="https://via.placeholder.com/260x145.png?text=...loading service" class="card-img-top" alt="loading image">
    <div class="card-body">
      <h4 class="card-title placeholder-glow">
        <span class="placeholder col-6">publication date</span>
      </h4>
    </div>
  </div>

</div>