<div class="projects-banner" *ngIf="currentLang === 'es-ES'">
  <h2>{{'queOfrecemos' | translate}}. {{'queOfrecemosHistorico' | translate}}</h2> 
</div>

<div class="tags-container" *ngIf="tagsHistoryIDI"> 

    <div class="card" *ngFor="let tag of tagsHistoryIDI">

      <div class="card-block px-6">
        <h2>{{tag}}</h2>
        <br>
        <a routerLink="/idi-result-list/{{tag}}" class="mt-auto btn btn-lg btn-secondary">{{'ViewRelatedContents' | translate}}</a>
      </div>

    </div>

</div>


