.tags-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 1.5rem;
  gap: .9rem;
}

.card {
  display: grid;
  grid-template-areas:  'image' 
                        'title'
                        'fecha';
  width: 100%;
  border: none;
  margin-bottom: 2rem;
  opacity: 0.9;
  background-color:aliceblue;
  border: 1px solid  #a2d3da;
  padding: 1rem;
}


.card:hover {
  opacity: 1.0;
  background-color:aliceblue;
}

a {
  color: white!important;
}

.card-body {
  grid-area: title;
  min-height: 12rem;
  max-height: 12rem;
  line-height: 1.4285em;
  padding-left: 5px;
}

.card-body:hover {
  color: white;
}

h2{
  color: black;
  font-weight: bolder;
}