<div *ngIf="id!='348' && id!='349' && id!='350' && id!='351'">
    <img src="../../assets/images/cabeceras/{{cabecera}}" alt="Cabecera {{cabecera}} IDI" title="Cabecera {{cabecera}} IDI">
</div>

<div  *ngIf="contenidos"> 
    <div *ngFor="let contenido of contenidos">
         <div class="transparencia-grid" [innerHTML]='contenido.attributes.text.replaceAll("images/","https://contents.idi.es/images/").replaceAll("<table>","").replaceAll("<tbody>","").replaceAll("</table>","").replaceAll("</tbody>","").replaceAll("https://idi.es/index.php/contenido_texto_nivel3/detalle/","/#/idi-transparency-detail/")'> </div>
    </div>
</div>
<div *ngIf="!contenidos">Getting contents from {{cabecera.replaceAll('.webp', '').replaceAll('_', ' ')}} ...</div>