<div class="transparency-container" *ngIf="childCatMatrixHomeIDI"> 
    <div *ngFor="let childCategory of childCatMatrixHomeIDI">
        <div class='transparency-item'>
            <a [routerLink]="['/idi-transparency-detail', childCategory | categoryID]">
    
                <figure> 
                    <img src="../../assets/images/cabeceras/transparencia-recuadro-off.webp" alt="{{childCategory | categoryTitle:currentLang}}" title="{{childCategory | categoryTitle:currentLang}}" /> 
                    <figcaption id="{{childCategory | categoryID}}" class="main-category-title">{{childCategory | categoryTitle:currentLang}}</figcaption> 
                </figure>
    
            </a>
        </div>
    </div>
</div>

<div *ngIf="!childCatMatrixHomeIDI">Getting contents from {{'Transparencia' | translate}} ...</div>