 .transparencia-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.6rem;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
}
.transparencia-grid a img {
    max-width: 500px;
}
@media only screen and (max-width: 795px) {
    .transparencia-grid {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

}