<h2>Explora els nostres projectes</h2>

<div class="explore-idi-container" *ngIf="exploraIDI"> 
  
  <div *ngFor="let noticia of exploraIDI">
    <a routerLink="{{noticia.relationships.category.data.id}}">
      <div class="card">
        <div>
          <img class="card-head" src={{noticia.attributes.images.image_intro}} alt={{noticia.attributes.title}} title={{noticia.attributes.title}} />
        </div>
        <div class="card-body">
          <h4 class="card-title">{{noticia.attributes.title}}</h4>
        </div>
      </div>
    </a>
  </div>

</div>

<div *ngIf="!exploraIDI" class="explore-idi-container">
  <!-- <i class="fa fa-spinner fa-pulse fa-1x fa-fw" style='color: #a2d3da'></i>{{'gettingNews' | translate}} -->

  <div class="card" aria-hidden="true" id="noticiaUnoPlaceHolder">
    <img src="https://via.placeholder.com/260x145.png?text=...loading projects" class="card-img-top" alt="loading image">
    <div class="card-body">
      <h4 class="card-title placeholder-glow">
        <span class="placeholder col-6"></span>
      </h4>
    </div>
  </div> 

  <div class="card" aria-hidden="true" id="noticiaDosPlaceHolder">
     <img src="https://via.placeholder.com/260x145.png?text=...loading projects" class="card-img-top" alt="loading image">
    <div class="card-body">
      <h4 class="card-title placeholder-glow">
        <span class="placeholder col-6"></span>
      </h4>
    </div>
  </div>

  <div class="card" aria-hidden="true" id="noticiaTresPlaceHolder">
     <img src="https://via.placeholder.com/260x145.png?text=...loading projects" class="card-img-top" alt="loading image">
    <div class="card-body">
      <h4 class="card-title placeholder-glow">
        <span class="placeholder col-6"></span>
      </h4>
    </div>
  </div> 

  <div class="card" aria-hidden="true" id="noticiaCuatroPlaceHolder">
     <img src="https://via.placeholder.com/260x145.png?text=...loading projects" class="card-img-top" alt="loading image">
    <div class="card-body">
      <h4 class="card-title placeholder-glow">
        <span class="placeholder col-6">publication date</span>
      </h4>
    </div>
  </div>

</div>
