.explore-idi-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  gap: 1rem;
}

h2{ 
  font-size: 1.2rem;
}

.alert {
  min-width: 100%;
  border: 1px solid black
}

.card {
  display: grid;
  grid-template-areas:  'image' 
                        'title';
  margin-bottom: 2rem;
}

.card-head {
  grid-area: image;
}

.card-body {
  grid-area: title;
  padding: 0;
}

.card-title {
  font-weight: 200!important;
}

@media only screen and (max-width: 795px) {
  /* h2 {
    font-size: 1.8rem;
  } */
  .explore-idi-container {
  
    grid-template-columns: repeat(1, 1fr);

  }
}