.explore-idi-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 1.5rem;
  gap: 1rem;
}

/* h2 {
  font-weight: 200;
  font-size: 2.471rem;
} */

/* h3 {
  margin-top: 0;
  font-size: 1.286rem;
} */

.alert {
  min-width: 100%;
  border: 1px solid black
}

.card {
  display: grid;
  grid-template-areas:  'image' 
                        'title';
  margin-bottom: 2rem;
}

.card-head {
  grid-area: image;
  /* margin-bottom: .5rem; */
  /* max-width: 262px; */ /* se lo tengo que poner porque las imágenes que usan son de 268px */
}

.card-body {
  grid-area: title;
  padding: 0;
}

.card-title {
  font-weight: 200!important;
}

@media only screen and (max-width: 795px) {
  h2 {
    font-size: 1.8rem;
  }
  .explore-idi-container {
  
    grid-template-columns: repeat(1, 1fr);

  }
}