/* You can add global styles to this file, and also import other style files */
/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;600;800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,400;1,200;1,400&display=swap');
* {
  box-sizing: border-box;
}

html {
  max-width: 1344px; /* este ancho viene fijado por el ancho de las imágenes del slider de la home */
  margin: auto;
  font-size: 17px;
  font-weight: 200;
  line-height: 1.8rem!important;
}

body {
  font-family: "Nunito sans", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"!important;
  font-size: 17px;
  color: rgb(51, 51, 51);
  box-sizing: border-box;
  padding: .5rem;
}

::selection {
  color: #fff;
  background: #4a7586;
  border: #000 1px solid;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
  font-weight: 200;
  font-size: 2.471rem;
}

h3 {
  margin-top: 0;
  font-size: 1.2rem;
  font-weight: 200;
}

h4 {
  margin-right: .5rem;
}

h6 {
  font-weight: 800;
}

p {
  margin-bottom: 4rem;
  font-size: 1.764rem;
  line-height: 2.5rem;
}

p a {
  text-decoration:  underline solid #34a39e 10%!important;
  text-underline-offset: 10px;
}

.card {
  font-weight: 200;
}

.card__body h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 2.471;
  font-weight: 700;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}

.nav-link img {
  width: 74px;
}

a {
  color: rgba(0, 0, 0, 1)!important;
}

a:visited {
  color: #3a9f9d;
}

a:hover {
  opacity: .8;
  color:#a2d3da!important;
  text-decoration: none;
}

a:link:active, a:visited:active { 
  color: #ff0000;
}

iframe {
    min-height: 80rem;
    width: 100%;
}

input:focus, textarea:focus{
  background-color:rgb(236, 236, 234);
  color:black;
}

.card {
  border: none;
}

.departamento__IDI {
  margin-bottom: 2rem;
}

.departamento__IDI--nombre, .departamento__IDI--tel, .departamento__IDI--mail {
  font-weight: 200;
  font-size: 1.764rem;
  line-height: 2.5rem;
}

@media only screen and (max-width: 795px) {
  html {
    padding: .2rem;
    width: 99%;
    background-color: rgb(255, 255, 255);
  }

  h2 {
    font-size: 1.765rem;
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 3rem;
    font-size: 1.5rem;
    line-height: 2.3rem;
  }

  .departamento__IDI--nombre, .departamento__IDI--tel, .departamento__IDI--mail {
    font-size: 1.5rem;
    line-height: 2rem;
  }

}